html{
    font-size: 1rem;
    color: black;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
}
.header{
    display: grid;
    grid-template-columns: 20% 3% 10% 20% 12% 20px 8% 12% 18%;
    grid-auto-flow: column;
    position: sticky;
    top: 0;
    z-index: 99999;
    background-color: white;
}
.hr{
    border-bottom: black solid 1px;
    margin-top: 35%;
    width: 500%;
}
a{
    text-decoration: none;
    color: black;
}
.logo{
    background-image: url(../img/logo.svg);
    width: 77px;
    height: 77px;
    background-repeat: no-repeat;
    grid-column-start: 2;
    margin-top: 15%;
}
.geo{
    width: 110%;
    height: 40px;
    border: 2px solid #323232;
    border-radius: 5px;
    grid-column-start: 4;
    margin-top: 25px;
    padding-left: 5%;
    text-align: center;
}
input.icon{
    background: url(../img/geolocation.svg) no-repeat center left;
}
.login{
    width: 6rem;
    height: 50px;
    background-color: #EF781A;
    color: white;
    grid-column-start: 6;
    margin-top: 25px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    border: none;
}
.login:hover{
    box-shadow: 2px 2px 2px 1px rgb(0, 0, 0);
    color: black;
}
.cart{
    width: 6rem;
    height: 50px;
    background-color: #00D008;
    color: white;
    border-radius: 5px;
    margin-top: 25px;
    grid-column-start: 8;
    font-size: 16px;
    font-weight: bold;
    border: none;
}
.cart:hover{
    box-shadow: 2px 2px 2px 1px rgb(0, 0, 0);
    color: black;
}



.banner{
    display: grid;
    grid-template-columns: 15% 20% 20% 20% 20%;
    grid-auto-flow: column;
}
.background-banner{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: #FFD086;
    width: 180%;
    height: 380px;
    border-radius: 10px;
    margin-top: 5%;
    z-index: 2;
}
.content{
    grid-column-start: 2;
    z-index: 3;
    margin-top: -300px;
    width: 170%;
    margin-left: 5%;
}
.banner-textbold{
font-weight: 800;
font-size: 2.5rem;
}
.banner-textreg{
    font-weight: 500;
    width: 456px;
    font-size: 1.5rem;
}
.pizza{
    z-index: 4;
    grid-column-start: 4;
}
.pizza>img{
    width: 140%;
    margin-top: 30px;
}
p.rest{
    grid-column-start: 2;
    font-weight: 600;
    font-size: 2.5rem;
}
.restaurants{
    display: grid;
    grid-template-columns: 15% 20% 20% 20% 20%;
    grid-auto-flow: column;
    row-gap: 30px;
    column-gap: 60px;
}
.search{
    width: 110%;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 1px 1px 2px #83838333;
    grid-column-start: 4;
    margin-top: 20px;
}
.search_icon{
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: left;

}
.white-block{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 92px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 2px 2px 2px #5e5e5e33;
    margin-top: 40%;
}
.white-block_mac{
    margin-top: 95px;
}
.popular{
    width: 139px;
    height: 39px;
    background-color: #FF800C;
    border-radius: 5px;
    margin: 1rem;
}
.popular::after{
    content: "ПОПУЛЯРНЕ";
    color: white;
    font-weight: 600;
    font-size: 16px;
    padding-left: 20px;
    position: relative;
    top: 10px;
}
.time{
    background-color: #FE7D34;
    width: 108px;
    height: 30px;
    border-radius: 5px;
    padding: .2rem;
    color: black;
    margin-left: 5%;
    margin-top: 5%;
}
.time::after{
    content: "20 - 35 хв.";
    font-size: 1rem;
    font-weight: 600;
    white-space: pre;
}
.price{
    width: 88px;
    height: 30px;
    background-color: #00D008;
    border-radius: 5px;
    padding: .1rem;
    margin-left: 150px;
    margin-top: -35px;
}
.price::after{
    content: "50 грн.";
    font-size: 1rem;
    font-weight: 600;
    padding: 5%;
}
 .free{
    background-color: #FF0C0C;
    width: 167px;
    height: 56px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
}
.free::after{
    content: "БЕЗКОШТОВНА ДОСТАВКА";
    color: white;
    font-size: 14px;
    font-weight: 800;
    position: relative;
    top: 10px;
    left: 10px;
}
.present{
    background-color: #ff0000;
    width: 236px;
    height: 39px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}
.present::after{
    content: "КРИЛЬЦЯ В ПОДАРУНОК";
    color: white;
    font-weight: 800;
    font-size: 14px;
    position: relative;
    top: 10px;
    left: 10px;
}
.white-block_kfc{
    margin-top: 100px;
}
.free_cross{
    background-color: #ff0c0c00;
    width: 167px;
    height: 56px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
}
@media (min-width: 300px) and (max-width: 1200px){
    .free{
        width: 140px;
    }
    .pizza{
        margin-top: 100px;
        width: 200px;
        margin-left: -50px;
    }
    .present{
        width: 120px;
        height: 50px;
    }
    .banner-textreg{
        display: none;
    }
    .price{
        display: none;
    }
    .time{
        display: none;
    }
    .apps{
        margin-left: -100px;
    }
    .footer-text{
        margin-left: -100px;
    }
    .cart{
        margin-left: 50px;
    }
    .geo{
        width: 200px;
    }
    .search, .search_icon{
        margin-left: -100px;
        width: 250px;
    }
}

.mac{
    background-image: url(../img/mac.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    grid-column-start: 2;
}

.pizza-house{
    background-image: url(../img/pizza-house.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    grid-column-start: 2;
    height: 240px;
}
.pizza_maff_eva-white-block{
    margin-top: 85px;
}
.mamamia{
    grid-column-start: 2;
    background-image: url(../img/mamamia.png);
    background-repeat: no-repeat;
    border-radius: 10px;
}
.salateira{
    grid-column-start: 2;
    background-image: url(../img/salateira.png);
    background-repeat: no-repeat;
    border-radius: 10px;
}
.papa-john{
    grid-column-start: 2;
    background-image: url(../img/папа\ Джон.png);
    background-repeat: no-repeat;
    border-radius: 10px;
}
.mafia{
    grid-column-start: 3;
    background-image: url(../img/mafia.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    grid-row-start: 2;
}
.rukola{
    grid-column-start: 3;
    background-image: url(../img/rukola.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    grid-row-start: 3;
}
.hlebny{
    grid-column-start: 3;
    background-image: url(../img/хлебный.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    grid-row-start: 4;
}
.green-13{
    grid-column-start: 3;
    background-image: url(../img/green\ 13.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    grid-row-start: 5;
}
.kfc{
    grid-column-start: 4;
    background-image: url(../img/kfc.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    grid-row-start: 2;
}
.lviv-croissans{
    grid-column-start: 4;
    background-image: url(../img/Lviv\ Croissans.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    grid-row-start: 3;
}
.time-cafe{
    grid-column-start: 4;
    background-image: url(../img/time\ cafe.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    grid-row-start: 4;
}
.vapiano{
    grid-column-start: 4;
    background-image: url(../img/vapiano.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    grid-row-start: 5;
}
._text{
    z-index: 20;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 5%;
    margin-top: 5%;
}
    
.shops{
    display: grid;
    grid-template-columns: 15% 20% 20% 20% 20%;
    grid-auto-flow: column;
    row-gap: 30px;
    column-gap: 60px;
}
.magaziny{
    grid-column-start: 2;
    font-size: 2.25rem;
    font-weight: 700;
    margin-top: 50px;
}
.fora{
    grid-column-start: 2;
    background-image: url(../img/фора.png);
    background-repeat: no-repeat;
    border-radius: 10px;
}
.eva{
    grid-column-start: 2;
    background-image: url(../img/eva.png);
    background-repeat: no-repeat;
    border-radius: 10px;
}
.atb{
    grid-column-start: 3;
    background-image: url(../img/АТБ.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    grid-row-start: 2;
}
.silpo{
    grid-column-start: 4;
    background-image: url(../img/silpo.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    grid-row-start: 2;
}
.footer{
    margin: 0 auto;
    margin-top: 200px;
    width: 100%;
    height: 100px;
    background-color: #323232;
    background: linear-gradient(to right, rgb(59, 57, 57), rgb(31, 31, 31));
    display: grid;
    grid-template-columns: 15% 50% 20% 5%;
    grid-auto-flow: column;
    row-gap: 30px;
    column-gap: 60px;
}
.apps{
    grid-column-start: 3;
    align-content: space-between;
    margin-top: 2rem;
}
.telegramm{
    margin: 1rem;
}
.facebook{
    margin: 1rem;
}
.instagramm{
    margin: 1rem;
}
.footer-text{
    margin-top: 2.5rem;
    grid-column-start: 2;
}
.footer_text_about{
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem;
    white-space: pre;
}
.footer_text_contacts{
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem;
}
.footer_text_partners{
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem;
}
.footer-text>a:hover{
    text-decoration: underline;
}